

body{
    
    background-color:white ;
    color: rgb(15, 20, 25);
}

.profilePicture , .perfiluser{
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.perfiluser{
    width: 20px;
    height: 20px;
    
}


.navigation a, li{
    color: rgb(15, 20, 25);
    text-decoration: none;
    list-style: none;
}

.navigation li:hover{
    background-color: rgba(15, 20, 25,0.1);
    border-radius:10px ;
    
}
 
.statistics li , a{
    text-decoration: none;
    list-style: none;
}
.statistics .numero{
   color: rgb(15, 20, 25);
   font-weight: bold;
}
.statistics, a{
    color: rgb(83, 100, 113);
    
}
.statistics li:hover{
    text-decoration: underline;
}

.actions{
    display: flex;
    justify-content: space-around;
}
.actions .comment{
    color: rgba(29, 155, 240, 1)
   
}

.actions .repost{
    color: rgba(0, 186, 124, 1)
}

.actions .like{
    color: rgba(249, 24, 128, 1)
}

.actions img{
    
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.date{
    color: rgb(83, 100, 113);
}


.tzeet:hover{
    background-color: rgba(0, 0, 0, 0.03);
}